DATABASE_URL="postgresql://USERNAME:PASSWORD@HOST:5432/DATABASE_NAME"

POSTGRES_URL="postgresql://USERNAME:PASSWORD@HOST:5432/DATABASE_NAME"

PRISMA_DATABASE_URL="postgresql://USERNAME:PASSWORD@HOST:5432/DATABASE_NAME"

BETTER_AUTH_SECRET = "abcdefghijklmnopqrstuvwxyz"
BETTER_AUTH_API_KEY = "ba_*******************************"
# Better Auth Infra API (required for sendEmail)
BETTER_AUTH_API_URL = "https://dash.better-auth.com"

BETTER_AUTH_URL = "http://localhost:3000"
